/* Imports the Poppins font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root {
    --main-color: #e69146;
    --text-color: #ffffff;
    --bg-color-01: #1f242d;
    --bg-color-02: #323946;
    --color-00: #0000001a;

    /* Extra */
    --color-01: #999999;
    --color-02: #009539;
    --color-03: #7950f2;
    --color-04: #c00000;
    --color-05: #232323;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
}

html {
    font-family: "Poppins", serif;
    font-size: 16px;
}

body {
    background-color: var(--bg-color-01);
    color: var(--text-color);
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.1rem;
    background-color: var(--bg-color-01);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 1.7rem;
    color: var(--text-color);
    font-weight: 600;
    cursor: default;
}

.nav-responsive {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 1rem;
    background-color: var(--bg-color-01);
}

.nav a,
.nav-responsive a {
    font-size: 1.2rem;
    color: var(--text-color);
    padding: 0.5rem 1rem;
    transition: 0.4s;
}

.nav a:hover,
.nav-responsive a:hover {
    color: var(--main-color);
}

section {
    min-height: 100vh;
    padding: 6rem 6rem 2rem;
}

span {
    color: var(--main-color);
}

.home,
.sobre {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.home-img {
    border-right: solid 0.6rem;
    border-bottom: solid 0.6rem;
    border-image: linear-gradient(135deg, transparent 50%, var(--main-color)) 1;
}

.sobre-img {
    border-left: solid 0.6rem;
    border-bottom: solid 0.6rem;
    border-image: linear-gradient(225deg, transparent 50%, var(--main-color)) 1;
}

.home-img img,
.sobre-img img {
    width: 100%;
}

.sobre {
    background-color: var(--bg-color-02);
}

.home-content,
.sobre-content {
    width: 45%;
}

.home-content h1,
.sobre-content h1 {
    font-weight: 700;
    line-height: 1.3;
    font-size: 2.7rem;
}

.home-content h3,
.sobre-content h3 {
    font-weight: 700;
    font-size: 1.6rem;
}

.home-content p,
.sobre-content p {
    margin-top: 1.2rem;
    text-align: justify;
}

.servicos h2,
.projetos h2 {
    font-size: 2.2rem;
    margin-bottom: 1rem;
    text-align: center;
}

.servicos-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.servicos-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 25rem;
    margin-bottom: 1rem;
}

.servicos-container .servicos-box {
    padding: 2rem 1rem 2.5rem;
    border-radius: 1.2rem;
    text-align: center;
    border: solid 0.15rem var(--bg-color-01);
    background-color: var(--bg-color-02);
    transition: 0.5s ease;
}

.servicos-container .servicos-box:hover {
    border-color: var(--main-color);
    transform: scale(1.01);
}

.servicos-box i {
    font-size: 4.3rem;
    color: var(--main-color);
}

.servicos-box h3 {
    font-size: 1.5rem;
}

.servicos-box p {
    margin: 0.5rem;
    letter-spacing: 0.1rem;
    /* N lines ... */
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.projetos {
    background-color: var(--bg-color-02);
}

.projetos-container {
    display: grid;
    gap: 1.2rem;
}

.projetos-box {
    position: relative;
    border-radius: 0.6rem;
    box-shadow: 0 0 0.6rem var(--bg-color-01);
    overflow: hidden;
    display: flex;
}

.projetos-box img {
    width: 100%;
    transition: 0.5s ease;
}

.projetos-box img:hover {
    transform: scale(1.1);
}

.projetos-box .projetos-layer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(transparent, var(--main-color));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 4rem;
    transform: translateY(30rem);
    transition: 0.5s ease;
}

.projetos-box:hover .projetos-layer {
    transform: translateY(0);
}

.projetos-layer h4 {
    font-size: 1.8rem;
}

.projetos-layer p {
    margin: 0.2rem 0 0.5rem;
}

.projetos-layer a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    background: var(--text-color);
    border-radius: 50%;
}

.projetos-layer a i {
    font-size: 1.2rem;
    color: var(--bg-color-02);
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1.2rem;
    background-color: var(--bg-color-01);
}

.social-media img {
    width: 3.5rem;
}

.social-media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 2.5rem;
    height: 2.5rem;
    background: transparent;
    border: solid 0.15rem var(--main-color);
    border-radius: 50%;
    font-size: 2rem;
    color: var(--main-color);
    margin: 1.8rem 0.5rem;
    transition: 0.5s ease;
}

.social-media a:hover {
    background-color: var(--main-color);
    color: var(--bg-color-02);
    box-shadow: 0 0 0.3rem var(--main-color);
}

/* button */
.btn {
    display: inline-block;
    padding: 0.7rem 1.8rem;
    background-color: var(--main-color);
    border-radius: 2rem;
    color: var(--bg-color-02);
    font-weight: 600;
    letter-spacing: 0.1rem;
    transition: 0.3s ease;
    margin-top: 1.2rem;
}

.btn:hover {
    box-shadow: 0 0 0.3rem var(--main-color);
    background-color: inherit;
    color: var(--main-color);
    cursor: pointer;
}

/* /button */

/* menu hamburguer */
.menu-hamburguer {
    display: none;
    cursor: pointer;
}

.bar1,
.bar2,
.bar3 {
    width: 2rem;
    height: 0.3rem;
    background-color: var(--text-color);
    margin: 0.4rem 0;
    transition: 0.3s ease;
}

.change .bar1 {
    transform: translate(0, 0.65rem) rotate(-45deg);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    transform: translate(0, -0.65rem) rotate(45deg);
}

/* /menu hamburguer */

/* media queries */

/* Extra Small (xs): Smartphone (portrait) */
@media (min-width: 0px) {
    .menu-hamburguer {
        display: block;
    }

    .nav {
        display: none;
    }

    .nav-responsive a {
        display: block;
        font-size: 1.2rem;
        margin: 0.5rem 0;
    }

    section {
        padding: 6rem 2.5rem;
    }

    .home,
    .sobre {
        flex-direction: column;
        gap: 1.2rem;
    }

    .home-img,
    .sobre-img {
        width: 95%;
        max-width: 95%;
    }

    .home-img img,
    .sobre-img img {
        width: 95%;
        max-width: 95%;
    }

    .home-img img {
        margin-left: 3%;
    }

    .sobre-img img {
        margin-left: 2%;
    }

    .home-content,
    .sobre-content {
        width: 100%;
    }

    .home-content div {
        text-align: center;
    }

    .home-content h1 .sobre-content h1 {
        font-size: 2.2rem;
        font-weight: 700;
        line-height: 1.3;
    }

    .servicos-container {
        flex-direction: column;
        align-items: center;
    }

    .servicos-box {
        width: 100%;
    }
}

/* Extra Small (sm): Smartphone (landscape) */
@media (max-width: 361px) {
    .logo {
        font-size: 1.4rem;
        font-weight: 600;
    }
}

/* Small (sm): Smartphone (landscape) */
@media (min-width: 576px) {

    .home-img,
    .sobre-img {
        width: 70%;
        max-width: 70%;
    }

    .servicos-box {
        width: 85%;
    }
}

/* Medium (md): Tablet */
@media (min-width: 768px) {
    .menu-hamburguer {
        display: none;
    }

    .nav {
        display: block;
    }

    .nav-responsive,
    .nav-responsive a {
        display: none;
    }

    .home,
    .sobre {
        flex-direction: row;
        justify-content: space-evenly;
    }

    .home-img,
    .sobre-img {
        max-width: 35%;
    }

    .home-img img {
        margin-left: 1%;
    }

    .sobre-img img {
        margin-left: 03%;
    }

    .home-content,
    .sobre-content {
        width: 50%;
    }

    .servicos-box {
        width: 60%;
        margin-bottom: 2rem;
    }

    .projetos-container {
        grid-template-columns: auto auto;
    }
}

/* Large (lg): Notebook */
@media (min-width: 992px) {
    .home-img img {
        margin-left: 9px;
    }

    .sobre-img img {
        margin-left: 8px;
    }

    .servicos-container {
        flex-direction: row;
        gap: 1.2rem;
    }
}

/* Extra Large (x1): Desktop */
@media (min-width: 1200px) {

    .home-img,
    .sobre-img {
        max-width: 25%;
    }

    .home-img img {
        margin-left: 10px;
    }

    .sobre-img img {
        margin-left: 9px;
    }

    .home-content h1 {
        font-size: 2.7rem;
    }

    .home-content h3 {
        font-size: 2rem;
    }

    .projetos-container {
        grid-template-columns: auto auto auto;
    }
}

/* /media queries */